/*
* Font Styles
* @module fonts
**/
@require '_0-toolbox/0-variables'


@font-face
	font-family "futura"
	src url($fontPath + "futura/futura-webfont.eot")
	src url($fontPath + "futura/futura-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "futura/futura-webfont.woff") format("woff"), \
		url($fontPath + "futura/futura-webfont.ttf") format("truetype"), \
		url($fontPath + "futura/futura-webfont.svg#futura") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "iconFonts"
	src url($fontPath + "iconFonts/iconFonts-webfont.eot")
	src url($fontPath + "iconFonts/iconFonts-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "iconFonts/iconFonts-webfont.woff") format("woff"), \
		url($fontPath + "iconFonts/iconFonts-webfont.ttf") format("truetype"), \
		url($fontPath + "iconFonts/iconFonts-webfont.svg#iconFonts") format("svg");
	font-style normal
	font-weight normal
