.l-container
	max-width $container_width
	margin 0 auto
	lost-utility clearfix
	+mobile()
		padding-left 3% !important
		padding-right 3% !important
	+tablet()
		padding-left 2% !important
		padding-right 2% !important
