
+mobile()
	.l-filters
		display none
		padding-bottom 10px
		box-shadow  0 7px 6px -6px rgba(0,0,0,0.2)
		position relative
		z-index 1

+above(rupture.mobile-cutoff)
	.l-filters
			display block !important
