.footer
	.bg
		.container
			.left
				img(src='http://estilomio.vteximg.com.br/arquivos/pago.png', border='0')
				#DigiCert
					img(src='http://estilomio.vteximg.com.br/arquivos/seal.digicert.png')
				p Esta tienda esta autorizada para realizar transacciones electrónicas.
			.right
				.ico_Send
				p ENVIOS A TODO EL PERU
				.logo
	.Foo
		a#milPuntos(href='')
		p ©2016 EstiloMio.com. Todos los derechos reservados
