footer
	.container
		.column_3.info
			h3 Información de interés
			ul 
				li: a(href="javascript:;") ¿Qué es Company?
				li: a(href="javascript:;") ¿Cómo comprar?
				li: a(href="javascript:;") Condiciones de uso
				li: a(href="javascript:;") Políticas de cambio y devolución
				li: a(href="javascript:;") Políticas de privacidad
				li: a(href="javascript:;") Restricciones 
		.column_2.categories
			h3 Categorías
			ul 
				li: a(href="javascript:;") Moda
				li: a(href="javascript:;") Hogar 
				li: a(href="javascript:;") Travel
				li: a(href="javascript:;") Infantil
				li: a(href="javascript:;") Deportes 
				li: a(href="javascript:;") Tecnología 
				
		.column_3.contact
			h3 Contáctanos
			ul 
				li
					b Teléfono: 
					| 891-6700
				li
					b Lu-Vi 
					| 9:00 - 18:00 &nbsp;
					b.margin_mobile  Sa-Do/Fe
					| 10:00 - 14:00
				li 
					b E-mail: 
					a(href="mailto:contactos@company.com.pe") contactos@company.com.pe
			
			.social_links
				a.ico_fb(rel="nofollow", href="javascript:;", target="_blank")
				a.ico_twitter(rel="nofollow", href="javascript:;", target="_blank")
				a.ico_instagram(rel="nofollow", href="javascript:;", target="_blank")
					
		.column_4.payment
			h3 Medios de pago 
			ul 
				li Tienda autorizada para realizar transacciones electrónicas.
			.payment_methods 
				span.ico_pe
				span.ico_mc
				//- span.ico_mcsc
				span.ico_visa
				span.ico_dc 
			.complaints
				a.ico_complaints(href="javascript:;", target="_blank")