.c-modal-howtobuy#modal_howtobuy
	.c-modal-howtobuy__header ¿Cómo comprar en Ofertop.pe?
	.c-modal-howtobuy__container
		.c-modal-howtobuy__steps
			span.c-modal-howtobuy__steps-number 1
			img.ico-how_to_buy.c-modal-howtobuy__steps-image(src!=`${page.url.image}how_to_buy.png`, alt="")
			p.c-modal-howtobuy__steps-detail
				b Escoge
				|  la oferta que más te guste y dale click a "comprar".
		.c-modal-howtobuy__steps
			span.c-modal-howtobuy__steps-number 2
			img.ico-how_to_pay.c-modal-howtobuy__steps-image(src!=`${page.url.image}how_to_pay.png`, alt="")
			p.c-modal-howtobuy__steps-detail
				b Sigue
				|  las instrucciones de registro, método de pago y confirmación de compra hasta darle click a Pagar.
		.c-modal-howtobuy__steps
			span.c-modal-howtobuy__steps-number 3
			img.ico-how_to_email.c-modal-howtobuy__steps-image(src!=`${page.url.image}how_to_email.png`, alt="")
			p.c-modal-howtobuy__steps-detail
				b Recibe
				|  el cupón en tu correo.
		.c-modal-howtobuy__steps
			span.c-modal-howtobuy__steps-number 4
			img.ico-how_to_trade.c-modal-howtobuy__steps-image(src!=`${page.url.image}how_to_trade.png`, alt="")
			p.c-modal-howtobuy__steps-detail
				b Canjéalo
				|  en los establecimientos de forma impresa o desde tu celular.
	.c-modal-howtobuy__footer
		.c-modal-howtobuy__payments
			ul.c-modal-howtobuy__payments-list
				li.c-modal-howtobuy__payments-item
					a.c-modal-howtobuy__payments-link(href="https://pagoefectivo.pe/")
						span.ico_pe
				li.c-modal-howtobuy__payments-item
					a.c-modal-howtobuy__payments-link(href="http://www.mastercard.com/pe/consumidores/index.html")
						span.ico_mc
				li.c-modal-howtobuy__payments-item
					a.c-modal-howtobuy__payments-link(href="http://visanet.com.pe/")
						span.ico_visa
				li.c-modal-howtobuy__payments-item
					a.c-modal-howtobuy__payments-link(href="http://www.americanexpress.com.pe/")
						span.ico_amex
		a.c-modal-howtobuy__pagoefectivo-link(href='http://pagoefectivo.pe/pe/medios-de-pago/#medios_comofunciona', target='_blank') Te enseñamos cómo comprar con PagoEfectivo
