.c-banners
	&__item
		margin 0
		&:first-child
			margin-bottom 15px
	&__link
		display block
	&__image
		margin 0
		width 100%
		display block
		max-width 300px
		max-height 170px

+mobile()
	.c-banners
		&__item
			width 49%
			display inline-block
