.c-filter-tags
	margin-bottom 35px
	&__item
		background-color $brand_color
		color white
		display block
		padding 8px 12px
		border-radius $border_radius
		margin-bottom 5px
		position relative
	&__delete
		color white
		display inline-block
		position absolute
		right 0
		top 0
		bottom 0
		margin auto
		padding 6px 14px
		font-size 17px
		&:before
			content "x"
			display block
+mobile()
	.c-filter-tags
		lost-utility clearfix
		margin-bottom 10px
		&__item
			background-color $dark_gray
			lost-column 1/3 3 5px
			border-radius 12px
			padding-top 6px
			padding-bottom 6px
			text-overflow ellipsis
			white-space nowrap
			overflow hidden
			padding-right 20px
		&__delete
			font-size 20px
			top -5px
			right -2px

