.c-form-group
	display flex
	margin-bottom 15px
	align-items center
	&__label
		flex-basis 30%
	&__inputs
		flex-grow 1
		position relative

+mobile()
	.c-form-group
		display block
		&__label
			display block
			margin-bottom 5px
