.c-message
	background-color $warning_color
	border 1px solid darken($warning_color, 20%)
	padding 10px 20px
	border-radius $border_radius
	margin 10px 0

	&--success
		border-color $success_color
		background-color #DFF0D8

	&--error
		border-color lighten($error_color, 50%)
		background-color lighten($error_color, 92%)

