/**
* Config
* @class Config
*/

// Override default rupture values
rupture.mobile-cutoff = 700px

/* Paths */
$imgPath         = '../img/'
$fontPath        = '../fonts/'

/* Font family variables */
$family1			= 'Lato', 'Arial', 'sans-serif'
$family2			= 'Arial', 'sans-serif'

$basefont               = 16px

/* Used for layout debugging: if "true" displays outline in color */
$debug = false

/* Color variables */
$primaryColor = #000000
$secondaryColor = #E25C65
$lightBackground = #f5f5f5
$MediumLightBackground = #ebebeb
$lightGray = #D8D8D8
$lighterGray = #f1f1f1
$darkGray = #9A9B9D 
$errorColor = #a94442
$backgroundHeaderGray =  #fbf9f9
$breackcrumbGrayLight = #939598


/* Layout variables */
$wrapperWidth = 1140px
$borderRadius = 5px
