extends _templates/master
//- index

block content	
	.p-landing
		.l-container
			include _components/c-box-main-img

			.c-create-game.c-create-game--large.u-textCenter.u-flex
				.l-two-thirds

					h2.c-create-game__title.u-mt30 ¡Casi listo! Te hemos enviado un correo de confirmación
					//-Invita a tus amigos a unirse al juego
					h3.c-create-game__subtitle Antes de invitar a tus amigos a unirse al juego, confirma tu correo electrónico.
					
					.c-create-game__form-group.u-hidden
						.c-create-game__input-group
							input.c-create-game__input.e-input(readonly, value="?????????????????????????????????", type="password")
							a.e-button.c-create-game__button(href="javascript:;", disabled) Copiar


			include _components/c-login
