.c-box-main-img
	lost-column 1/2
	&__img 
		width 700px
		z-index 1
		display block 
		position absolute
		bottom -100px
		left -100px
		
+tablet()
	.c-box-main-img
		lost-column 1/1
		&__img 
			left -50px
+mobile()
	.c-box-main-img
		lost-column 1/1
		position fixed 
		top 65%
		&__img 
			width 500px
			left -60px
