.c-content
	border 3px dashed rgba(black, 0.2)
	padding 30px 50px
	background-color rgba($primaryColor ,0.9)
	position relative 
	min-height 500px
	z-index 1
	&__title 
		color $fontColor
		font-family $family2 
		letter-spacing 1px
		margin-top 0
		margin-left -10px 
		line-height 1.2
		text-align center
	&__subtitle 
		color white
		font-family $family1
		letter-spacing 1px
	&__label 
		font-size 1rem
		margin-bottom 10px
		display block 
		font-family $family1
		position relative 
		.icon
			position absolute
			left 14px 
			bottom 14px 
			& ~ .c-content__input
				padding-left 45px
	&__input 
		margin-top 6px
	&__input-group
		display flex
		.u-blur
			color white 
			position absolute 
			left 20px 
			top 14px 
			filter blur(4px)
			overflow hidden 
			height 25px 
			word-break break-all
		.c-content__input 
			border-top-right-radius 0
			border-bottom-right-radius 0
		.c-content__button
			border-top-left-radius 0
			border-bottom-left-radius 0
			flex-shrink 0
	&__form-group 
		position relative
	&__columns
		display flex 
		.c-content__form-group
			&:first-child
				margin-right 10px
			&:nth-child(2)
				margin-left 10px
	&__step1
		padding 20px 0
	&__step2
		padding 0
		
+tablet()
	.c-content
		float none !important
		width 70%
		margin auto !important
+mobile()
	.c-content
		padding-left 30px
		padding-right 30px
		width 100%
		&__title 
			font-size 2.3rem
			letter-spacing 0
		&__subtitle
			letter-spacing 0
		&__columns
			display block
			.c-content__form-group
				&:first-child
					margin-right 0
				&:nth-child(2)
					margin-left 0