.c-login
	width 300px
	&__title 
		text-align center 
		font-family $family1
		margin-top 10px
	&__label
		margin-bottom 10px
		display block
	&__forgot-password
		text-align center
		display block
		font-size 0.8rem
		margin-top 10px
		transition $transition
		&:hover 
			transition $transition
			opacity .8