.c-message
	&--success
		background-color #65D98B
		//color $lightGray
	.l-container 
		position relative 
	p
		padding-left 2rem
		&:before
			font-size 2rem
			position absolute 
			left 2rem
			@extend .icon
			@extend .icon-tick:before