header
	nav.navbar.navbar-default.navbar-fixed-top
		.container 
			.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="javascript:;") fuuduru
			#navbar.collapse.navbar-collapse
				ul.nav.navbar-nav 
					li
						a(href="javascript:;") 
							span.glyphicon.glyphicon-th-large
							| Discovery
					li.active
						a(href="javascript:;")
							span.glyphicon.glyphicon-home
							| Home
				form.navbar-form.navbar-left.visible-lg.visible-md(role="search")
					input.form-control.txt-search(type="text", placeholder="Search for people, chefs, restaurants & food businesses...")
				ul.nav.navbar-nav.navbar-right
					li
						a(href="javascript:;") 
							span.glyphicon.glyphicon-bell
							| Notifications
					li
						a(href="javascript:;")
							span.glyphicon.glyphicon-eye-open
							| View
					li
						a.avatar(href="javascript:;")
							img(src="http://lorempixel.com/25/25/people/9")
