- var page = {}
- page.charset         = 'utf-8'
- page.lang            = 'es'
- page.title           = "Ofertop"
- page.viewport        = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
- page.robots          = 'nofollow'
- page.version         = '?v=434sd'

- page.url              = {}
- page.url.base         = "./demos/ofertop/dist/"
- page.url.static       = "./demos/ofertop/dist/"
- page.url.elements     = "./demos/ofertop/dist/"
- page.url.image        = page.url.static + "img/"
- page.favicon          = page.url.image + 'favicon.png'

- page.og              = {}
- page.og.description  = page.description
- page.og.title        = page.title
- page.og.url          = page.url.base
- page.og.type         = 'website'
- page.og.image_width  = '120'
- page.og.image_height = '100'
- page.og.image_type   = 'image/jpg'
- page.og.image        = page.url.image + 'logo_share.jpg'

//- tmp
- page.tmp						= {}
- page.tmp.appFacebookId		= "34"

- page.tmp.urls					= {}
- page.tmp.urls.cerrarSesion 	= "/auth/logout"
