script(src="#{page.static_url}js/libs/jquery/dist/jquery.min.js", type="text/javascript")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", type="text/javascript")
script(src="#{page.static_url}js/app.js", type="text/javascript") 

script(src="js/libs/jquery/dist/jquery.min.js", type="text/javascript")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", type="text/javascript")