.remodal(data-remodal-id="login")
	button.remodal-close(data-remodal-action="close")
	form.c-login
		h2.c-login__title Iniciar sesión 
		.c-login__form-group
			label.c-login__label Correo electrónico: 
			input.c-login__input.e-input(type="email")
		.c-login__form-group
			label.c-login__label Contraseña: 
			input.c-login__input.e-input(type="password")
		input.e-button.e-button--block(type="submit", value="INGRESAR")
		a(href="javascript:;").c-login__forgot-password Olvidé mi contraseña
