extends /_templates/master

block content

	.l-container
		h3.u-mt30 POLÍTICAS DE PRIVACIDAD

		p
			| La presente política de privacidad (la “Política”) tiene por finalidad informarle la manera como  DIGITAL COMMERCE S.A.C. (en adelante OFERTOP) trata su información personal a través del portal&nbsp;
			b Ofertop.pe
			|  (el “Portal”). La Política describe toda la tipología de información personal que se recaba de los usuarios, y todos los tratamientos que se realizan con dicha información. El usuario declara haber leído y aceptado de manera previa y expresa la Política sujetándose a sus disposiciones.
		p
			| Para efectos de esta Política toda referencia a “nos”, “nosotros”, “nuestra”, se refiere a OFERTOP.
		h4 1. ¿Qué información recolectamos?
		p
			| Al momento de registrarse en el Portal, el formulario de registro recoge la siguiente información: nombres, apellidos, correo electrónico, contraseña, DNI, pasaporte, RUC o carnet de extranjería según corresponda, teléfono, género, intereses del usuario (belleza y salud, restaurantes, productos, viajes, entretenimiento, servicios).
		p
			| El usuario también puede registrarse en el Portal utilizando servicios de terceros, en particular, redes sociales. Para ello, requerirá ingresar el nombre de usuario y clave (“Credenciales de Acceso”) utilizadas en dichas redes sociales. Al ingresar estas Credenciales de Acceso el usuario acepta que se regirá por los términos y condiciones de dichos servicios de terceros en lo que resulte aplicable, y autoriza a OFERTOP a acceder a la información de la cuenta registrada en dicho servicio.
		p
			| Asimismo, OFERTOP requiere almacenar información relativa al comportamiento del usuario dentro del portal, entre la que se incluye:
		ul(style='list-style-type: disc; margin: 0 20px 0.5em;')
			li La URL de la que proviene el usuario (incluyendo las externas al Portal).
			li URLs más visitadas por el usuario (incluyendo las externas al Portal).
			li Direcciones de IP.
			li Navegador que utiliza el usuario.
			li Todas las actividades realizadas dentro del Portal.
			li
				| Información sobre la operativa del portal, tráfico, promociones, campañas de venta, estadísticas de navegación, entre otros.
		p
			| Finalmente, OFERTOP también recoge la información necesaria para que el usuario pueda utilizar el Servicio Delivery en cuyo caso deberá facilitar su dirección postal y las referencias de ubicación necesarias.
		h4 2. Sobre la veracidad de la Información que recolectamos
		p
			| El usuario, al registrarse y utilizar el Portal, declara que toda la información proporcionada es verdadera, completa y exacta. Cada usuario es responsable por la veracidad, exactitud, vigencia y autenticidad de la información suministrada, y se compromete a mantenerla debidamente actualizada.
		p
			| Sin perjuicio de lo anterior, OFERTOP se reserva el derecho de verificar la veracidad de los datos personales facilitados por el usuario a través de información obtenida de fuentes de acceso público o entidades especializadas en la provisión de dicha información.
		p
			| OFERTOP no se hace responsable de la veracidad de la información que no sea de elaboración propia, por lo que tampoco asume responsabilidad alguna por posibles daños o perjuicios que pudieran originarse por el uso de dicha información.
		h4 3. ¿Cómo conservamos su información personal?
		p
			| De acuerdo a lo establecido en la Ley N° 29733, Ley de Protección de Datos Personales, y el Decreto Supremo N° 003-2013-JUS, por el que se aprueba el Reglamento de la Ley de Protección de Datos Personales, OFERTOP informa a los usuarios del Portal que todos los datos de carácter personal que nos faciliten serán incorporados a un banco de datos, debidamente inscrito en la Dirección de Registro Nacional de Protección de Datos Personales, titularidad de OFERTOP.
		p
			| A través de la presente Política de Privacidad el usuario da su consentimiento expreso para la inclusión de sus datos personales en el mencionado banco de datos.
		h4 4. ¿Para qué utilizamos su información personal?
		p
			| Los datos personales de los usuarios del Portal son tratados con las siguientes finalidades:
		ul(style='list-style-type: disc; margin: 0 20px 0.5em;')
			li Atender y procesar solicitudes de registro de usuarios en el Portal.
			li
				| Gestionar y administrar las cuentas personales de los usuarios, así como supervisar el comportamiento y la actividad del usuario dentro del Portal.
			li
				| Contactar al usuario interesado en utilizar algún servicio ofrecido por el Portal o en recibir información sobre las promociones del mismo.
			li
				| Gestionar, administrar, personalizar y mejorar los contenidos puestos a disposición de los usuarios a través de envíos de comunicaciones (newsletters).
			li
				| Realizar estudios internos sobre los intereses, comportamientos y hábitos de conducta de los usuarios a fin poder ofrecerles un mejor servicio de acuerdo a sus necesidades, con información que pueda ser de su interés.
			li
				| Compartir los datos personales de los usuarios con todas las empresas  (“Los socios”) que proporcionen al usuario las prestaciones o mercancías objeto de los cupones OFERTOP. Una vez transferidos los datos a estos terceros, la información será manejada de acuerdo a sus propias políticas de privacidad.
		p
			| Adicionalmente, los datos del usuario serán utilizados con la finalidad de enviarle noticias, promociones, publicidad y novedades de Ofertop y Smile a través de comunicaciones periódicas que serán remitidas a la dirección de correo electrónico que el usuario facilitó al momento de realizar el registro. Dichas comunicaciones serán consideradas solicitadas y no califican como “spam” bajo la normativa vigente.
		p
			| OFERTOP informa al usuario que una vez autorizado el envío de las mencionadas comunicaciones, tendrá la facultad de revocar el consentimiento prestado en cada una de las comunicaciones que reciba a través de un hipervínculo que se incorpora en todas las comunicaciones (remover suscripción), si por algún motivo no logra realizarlo puede comunicarlo enviando una solicitud a la siguiente dirección de correo electrónico:
			a(href='mailto:clientes@ofertop.pe?Subject=Remover%20suscripción', target='_top') clientes@ofertop.pe
			|  y
			a(href='mailto:socios@smile.pe?Subject=Remover%20suscripción', target='_top') socios@smile.pe
		p
			| Los datos personales del usuario también podrán ser compartidos con las empresas que formen parte del Grupo El Comercio o aquellas empresas vinculadas a OFERTOP, a fin de que reciba información sobre productos o servicios que puedan ser de su interés. Puede consultar las empresas que conforman el Grupo El Comercio en el siguiente enlace:
			a(href='http://grupoelcomercio.com.pe/', target='_blank') http://grupoelcomercio.com.pe/
		p
			| El usuario del Portal manifiesta expresamente que ha sido informado de todas las finalidades antes mencionadas y autoriza el tratamiento de sus datos personales  con dichas finalidades.
		p
			| OFERTOP le recuerda al usuario que las finalidades de tratamiento de datos necesarias para la ejecución de la relación contractual que vincula al usuario registrado y a EEEC (Empresa Editora El Comercio S.A.) no requieren del consentimiento del mismo.
		h4 5. ¿Cómo resguardamos  su información personal?
		p
			| OFERTOP, a través del Portal y APP, adopta las medidas técnicas y organizativas necesarias para garantizar la protección de los datos de carácter personal y evitar su alteración, pérdida, tratamiento y/o acceso no autorizado, habida cuenta del estado de la técnica, la naturaleza de los datos almacenados y los riesgos a que están expuestos, todo ello, conforme a lo establecido por la Ley N° 29733, Ley de Protección de Datos Personales, su Reglamento y la Directiva de Seguridad.
		p
			| En este sentido, OFERTOP usará los estándares de la industria en materia de protección de la confidencialidad de la información personal de los usuarios del Portal.
		p
			| OFERTOP emplea diversas técnicas de seguridad para proteger tales datos de accesos no autorizados. Sin perjuicio de ello, OFERTOP no se hace responsable por interceptaciones ilegales o violación de sus sistemas o bases de datos por parte de personas no autorizadas, así como la indebida utilización de la información obtenida por esos medios, o de cualquier intromisión ilegítima que escape al control de OFERTOP y que no le sea imputable.
		p
			| OFERTOP tampoco se hace responsable de posibles daños o perjuicios que se pudieran derivar de interferencias, omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el funcionamiento operativo de este sistema electrónico, motivadas por causas ajenas a OFERTOP; de retrasos o bloqueos en el uso de la plataforma informática causados por deficiencias o sobrecargas en el Centro de Procesos de Datos, en el sistema de Internet o en otros sistemas electrónicos.
		h4 6. ¿Con quiénes compartimos información?
		p
			| Forma parte de la actividad propia de la marca, dar a conocer los datos del usuario que adquiere un cupón OFERTOP o Smile a la empresa socia proveedora de la mercancía o prestación objeto del cupón, a fin de que éstas permitan que el usuario hacer efectivo el cupón adquiriendo la mercancía o disfrutando prestación contratada.
		p
			| Si posteriormente las empresas afiliadas (“los socios”) utilizaran la información del usuario comunicada por OFERTOP para una finalidad distinta a la mencionada en el párrafo anterior, será responsabilidad de dicho socio solicitar el consentimiento del usuario e informarle sobre las nuevas finalidades de tratamiento de sus datos.
		p
			| La información personal de los usuarios del Portal, tanto los datos de registro como la información de sus preferencias, no será suministrada ni compartida con otros usuarios del portal.
		p
			| OFERTOP se compromete a no divulgar o compartir con terceros la información personal recabada de los usuarios sin que se haya prestado el debido consentimiento para ello, con excepción de los siguientes casos:
		ul(style='list-style-type: disc; margin: 0 20px 0.5em;')
			li
				| En aquellos casos en que el uso de los datos personales sea necesario para la prestación de los servicios brindados a través del Portal.
			li
				| Solicitud de información de autoridades públicas en ejercicio de sus funciones y el ámbito de sus competencias.
			li Solicitud de información en virtud de disposiciones legales.
			li
				| Casos en los que terceros puedan interceptar o acceder a información de manera indebida (vulneración del sistema), mediante intromisiones ilegítimas fuera del control de OFERTOP.
		h4 7. Cookies
		p
			| El Portal utiliza cookies. Una “Cookie” es un pequeño archivo de texto que un sitio web almacena en el navegador del usuario. Las cookies facilitan el uso y la navegación por una página web y son esenciales para el funcionamiento de Internet, aportando innumerables ventajas en la prestación de servicios interactivos.
		p
			| El Portal podrá utilizar la información de su visita para realizar evaluaciones y cálculos estadísticos sobre datos anónimos, así como para garantizar la continuidad del servicio o para realizar mejoras en el Portal.
		p
			| El Portal también utilizará la información obtenida a través las cookies para analizar los hábitos de navegación del usuario y las búsquedas realizadas por éste, a fin de mejorar sus iniciativas comerciales y promocionales, mostrando publicidad que pueda ser de su interés, y personalizando los contenidos del Portal.
		p
			| Las cookies pueden borrarse del disco duro si el usuario así lo desea. La mayoría de los navegadores aceptan las cookies de forma automática, pero le permiten al usuario cambiar la configuración de su navegador para que rechace la instalación de cookies, sin que ello perjudique su acceso y navegación por el Portal.
		p
			| En el supuesto de que en el presente Portal se dispusieran enlaces o hipervínculos hacia otros lugares de Internet propiedad de terceros que utilicen cookies, OFERTOP no se hace responsable ni controla el uso de cookies por parte de dichos terceros.
		h4 8. Servicio “Comparte”
		p
			| Si el usuario elige el servicio "Comparte", el Portal requerirá el nombre del emisor, el nombre y correo electrónico del destinatario, y el mensaje para compartir la oferta o cupón. OFERTOP únicamente utilizará esta información para el envío del contenido a compartir y posterior seguimiento.
		p
			| El usuario manifiesta que ha informado al tercero, destinatario del mensaje, sobre la utilización de sus datos personales, y que cuenta con el consentimiento del mismo para dicha utilización.
		p
			| En los envíos de las comunicaciones mencionadas, OFERTOP respetará las previsiones de las normas vigentes en materia de “spam”.
		p
			| El usuario también podrá compartir una oferta en a través de redes sociales, sitios web o equivalentes.
		h3
			| 9. Derechos de acceso, rectificación, cancelación y oposición de datos personales
		p
			| OFERTOP pone en conocimiento del usuario su derecho de acceso, actualización y cancelación de su información personal, los mismos que podrá ejercer mediante petición escrita a la siguiente dirección de correo electrónico: clientes@ofertop.pe.
		p
			| Del mismo modo, el usuario puede oponerse al uso o tratamiento de sus datos personales y puede solicitar ser informado sobre todas las finalidades con que se tratan los datos personales.
		p
			| Sin perjuicio de lo anterior, OFERTOP podrá conservar determinada información personal del usuario que solicita la baja, a fin de que sirva de prueba ante una eventual reclamación contra OFERTOP por responsabilidades derivadas del tratamiento de dicha información. Dicha conservación deberá realizarse previo bloqueo de los datos, de manera que se impida su habitual tratamiento y su duración no podrá ser superior al plazo de prescripción legal de dichas responsabilidades.
		h4 10. Modificaciones de las Políticas de Privacidad
		p
			| OFERTOP se reserva expresamente el derecho a modificar, actualizar o completar en cualquier momento la presente Política de Privacidad.
		p
			| Cualquier modificación, actualización o ampliación producida en la presente Política será inmediatamente publicada en el Portal, por lo que se recomienda al usuario revisarla periódicamente, especialmente antes de proporcionar información personal.
		p.u-mb30
			| Este documento es parte integrante de los Términos y Condiciones del Portal que el usuario acepta al momento de registrarse.

