.e-input
	border none 
	background-color rgba(black,0.1)
	border-radius $borderRadius
	width 100%
	display block
	margin-bottom 1rem
	outline none 
	color white 
	height 2.6rem
	padding 15px 20px 
	&:focus
		border 2px solid rgba(black, 0.1)