.l-one-half
	lost-column 1/2
	float none !important
	margin auto !important
.l-one-third
	lost-column 1/3
	float none !important
	margin auto !important
.l-two-thirds
	lost-column 2/3	
	float none !important
	margin auto !important
+below(rupture.desktop-cutoff)
	.l-one-half
		lost-column 1/1
	.l-one-third
		lost-column 1/1
	.l-two-thirds
		lost-column 1/1	