ul.menu
	li.menu-moda
		a(href='categoria.html') Moda
	li.menu-hogar
		a(href='categoria.html') Hogar
	li.menu-ninos-y-bebes
		a(href='categoria.html') Ninos y Bebes
	li.menu-travel
		a(href='categoria.html') Travel
	li.menu-deportes
		a(href='categoria.html') Deportes
	li.menu-tecnologia
		a(href='categoria.html') Tecnología
.navigation-tabs
	.menu-departamento
		span.rt
		span.rb
		div
			.menu-navegue
				a.search-navigator-tab.tab-navegue-ativo(title='Navegue', href='#') Navegue
				a.search-navigator-tab.tab-refinar(title='Refinar Resultado', href='#') Refinar Resultado
			.search-multiple-navigator(style='display: none;')
				h3.moda
					span
					a(href='categoria.html', title='Moda') Moda
				h4.moda
					span
					a(href='categoria.html', title='Calzado') Calzado
				a.bt-refinar.search-filter-button.even(title='Refinar Resultado', href='#') Refinar Resultado
				fieldset#refinoMarca.refino-marca.even
					h5.even Marca
					div.list
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000152', type='checkbox', name='2000152', value='2000152')
							| Adidas (37)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000571', type='checkbox', name='2000571', value='2000571')
							| Andre Piu (3)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000576', type='checkbox', name='2000576', value='2000576')
							| Angry Birds (4)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000355', type='checkbox', name='2000355', value='2000355')
							| Asics (27)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000460', type='checkbox', name='2000460', value='2000460')
							| Barbie (13)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000563', type='checkbox', name='2000563', value='2000563')
							| Bates (15)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000515', type='checkbox', name='2000515', value='2000515')
							| Bladerunner (2)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000594', type='checkbox', name='2000594', value='2000594')
							| Boaonda (3)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000458', type='checkbox', name='2000458', value='2000458')
							| Calimod (55)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000577', type='checkbox', name='2000577', value='2000577')
							| Cars (2)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000241', type='checkbox', name='2000241', value='2000241')
							| Caterpillar (115)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000457', type='checkbox', name='2000457', value='2000457')
							| Cavalier (26)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000459', type='checkbox', name='2000459', value='2000459')
							| Chabely (40)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000329', type='checkbox', name='2000329', value='2000329')
							| Chaco (11)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000518', type='checkbox', name='2000518', value='2000518')
							| Clifor (1)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000242', type='checkbox', name='2000242', value='2000242')
							| Converse (218)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000464', type='checkbox', name='2000464', value='2000464')
							| Corelli (3)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000273', type='checkbox', name='2000273', value='2000273')
							| Disney (3)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000154', type='checkbox', name='2000154', value='2000154')
							| Dunkelvolk (17)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000519', type='checkbox', name='2000519', value='2000519')
							| Eros (1)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000595', type='checkbox', name='2000595', value='2000595')
							| Faena (21)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000149', type='checkbox', name='2000149', value='2000149')
							| Fila (16)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000581', type='checkbox', name='2000581', value='2000581')
							| Frozen (2)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000467', type='checkbox', name='2000467', value='2000467')
							| Gardenia (17)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000206', type='checkbox', name='2000206', value='2000206')
							| Globe (20)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000296', type='checkbox', name='2000296', value='2000296')
							| Grendha (3)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000575', type='checkbox', name='2000575', value='2000575')
							| Guga (6)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000517', type='checkbox', name='2000517', value='2000517')
							| Hardy (1)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000246', type='checkbox', name='2000246', value='2000246')
							| Harley Davidson (1)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000061', type='checkbox', name='2000061', value='2000061')
							| Havaianas (51)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000130', type='checkbox', name='2000130', value='2000130')
							| Hello Kitty (5)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000062', type='checkbox', name='2000062', value='2000062')
							| Hey Dude (41)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000243', type='checkbox', name='2000243', value='2000243')
							| Hi-Tec (31)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000101', type='checkbox', name='2000101', value='2000101')
							| KatyArizaga (10)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000468', type='checkbox', name='2000468', value='2000468')
							| Kildare (10)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000019', type='checkbox', name='2000019', value='2000019')
							| Lacoste (17)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000524', type='checkbox', name='2000524', value='2000524')
							| Lumberjack (39)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000271', type='checkbox', name='2000271', value='2000271')
							| Mattel (2)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000245', type='checkbox', name='2000245', value='2000245')
							| Merrell (44)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000579', type='checkbox', name='2000579', value='2000579')
							| Mickey (4)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000580', type='checkbox', name='2000580', value='2000580')
							| Minnie (4)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000150', type='checkbox', name='2000150', value='2000150')
							| New Balance (2)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000151', type='checkbox', name='2000151', value='2000151')
							| Nike (40)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000522', type='checkbox', name='2000522', value='2000522')
							| Oka-B (14)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000347', type='checkbox', name='2000347', value='2000347')
							| Onitsuka (6)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000574', type='checkbox', name='2000574', value='2000574')
							| Ortope (11)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000463', type='checkbox', name='2000463', value='2000463')
							| Osiris (2)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000567', type='checkbox', name='2000567', value='2000567')
							| Passarela (95)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000570', type='checkbox', name='2000570', value='2000570')
							| Pierre Cardin (2)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000474', type='checkbox', name='2000474', value='2000474')
							| Powerslide (7)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000033', type='checkbox', name='2000033', value='2000033')
							| Puma (30)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000281', type='checkbox', name='2000281', value='2000281')
							| PZ (43)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000516', type='checkbox', name='2000516', value='2000516')
							| Reebok (9)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000461', type='checkbox', name='2000461', value='2000461')
							| Rider (11)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000473', type='checkbox', name='2000473', value='2000473')
							| Rollerblade (11)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000502', type='checkbox', name='2000502', value='2000502')
							| Salomon (27)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000341', type='checkbox', name='2000341', value='2000341')
							| Saucony (24)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000578', type='checkbox', name='2000578', value='2000578')
							| Spider Man (2)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000240', type='checkbox', name='2000240', value='2000240')
							| Steve Madden (65)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000280', type='checkbox', name='2000280', value='2000280')
							| Strata (8)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000053', type='checkbox', name='2000053', value='2000053')
							| Style Up (11)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000475', type='checkbox', name='2000475', value='2000475')
							| Tempish (3)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000035', type='checkbox', name='2000035', value='2000035')
							| Umbro (88)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000449', type='checkbox', name='2000449', value='2000449')
							| Vans (14)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000564', type='checkbox', name='2000564', value='2000564')
							| Wolverine (12)
						label.brand-name
							input.multi-search-checkbox(rel='fq=B:2000572', type='checkbox', name='2000572', value='2000572')
							| Zaxy (4)
				fieldset.refino
					h5 Género
					div
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_16:Hombre', type='checkbox', name='Hombre', value='Hombre')
							| Hombre (741)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_16:Mujer', type='checkbox', name='Mujer', value='Mujer')
							| Mujer (593)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_16:Ni%c3%b1o', type='checkbox', name='Ni%c3%b1o', value='Niño')
							| Niño (144)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_16:Ni%c3%b1a', type='checkbox', name='Ni%c3%b1a', value='Niña')
							| Niña (136)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_16:Unisex', type='checkbox', name='Unisex', value='Unisex')
							| Unisex (21)
				fieldset.refino.even
					h5.even Estilo
					div
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_17:Casual', type='checkbox', name='Casual', value='Casual')
							| Casual (819)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_17:Deportivo', type='checkbox', name='Deportivo', value='Deportivo')
							| Deportivo (362)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_17:Formal', type='checkbox', name='Formal', value='Formal')
							| Formal (138)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_17:Urbano', type='checkbox', name='Urbano', value='Urbano')
							| Urbano (265)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_17:Industrial', type='checkbox', name='Industrial', value='Industrial')
							| Industrial (36)
				fieldset.refino
					h5 Talla calzado
					div
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:28', type='checkbox', name='28', value='28')
							| 28 (64)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:29', type='checkbox', name='29', value='29')
							| 29 (59)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:30', type='checkbox', name='30', value='30')
							| 30 (63)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:30.5', type='checkbox', name='30.5', value='30.5')
							| 30.5 (1)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:31', type='checkbox', name='31', value='31')
							| 31 (49)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:31.5', type='checkbox', name='31.5', value='31.5')
							| 31.5 (7)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:32', type='checkbox', name='32', value='32')
							| 32 (48)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:33', type='checkbox', name='33', value='33')
							| 33 (28)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:34', type='checkbox', name='34', value='34')
							| 34 (53)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:35', type='checkbox', name='35', value='35')
							| 35 (235)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:35.5', type='checkbox', name='35.5', value='35.5')
							| 35.5 (10)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:36', type='checkbox', name='36', value='36')
							| 36 (323)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:36.5', type='checkbox', name='36.5', value='36.5')
							| 36.5 (60)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:37', type='checkbox', name='37', value='37')
							| 37 (325)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:37.5', type='checkbox', name='37.5', value='37.5')
							| 37.5 (79)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:38', type='checkbox', name='38', value='38')
							| 38 (437)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:38.5', type='checkbox', name='38.5', value='38.5')
							| 38.5 (55)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:39', type='checkbox', name='39', value='39')
							| 39 (440)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:40', type='checkbox', name='40', value='40')
							| 40 (387)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:41', type='checkbox', name='41', value='41')
							| 41 (344)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:41.5', type='checkbox', name='41.5', value='41.5')
							| 41.5 (82)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:42', type='checkbox', name='42', value='42')
							| 42 (357)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:43', type='checkbox', name='43', value='43')
							| 43 (312)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:44', type='checkbox', name='44', value='44')
							| 44 (270)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:45', type='checkbox', name='45', value='45')
							| 45 (102)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:39.5', type='checkbox', name='39.5', value='39.5')
							| 39.5 (57)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:40.5', type='checkbox', name='40.5', value='40.5')
							| 40.5 (163)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:42.5', type='checkbox', name='42.5', value='42.5')
							| 42.5 (199)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:44.5', type='checkbox', name='44.5', value='44.5')
							| 44.5 (77)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:43.5', type='checkbox', name='43.5', value='43.5')
							| 43.5 (38)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:45.5', type='checkbox', name='45.5', value='45.5')
							| 45.5 (8)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:20', type='checkbox', name='20', value='20')
							| 20 (12)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:21', type='checkbox', name='21', value='21')
							| 21 (11)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:22', type='checkbox', name='22', value='22')
							| 22 (22)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:23', type='checkbox', name='23', value='23')
							| 23 (34)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:24', type='checkbox', name='24', value='24')
							| 24 (32)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:25', type='checkbox', name='25', value='25')
							| 25 (43)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:26', type='checkbox', name='26', value='26')
							| 26 (57)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:27', type='checkbox', name='27', value='27')
							| 27 (71)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:33.5', type='checkbox', name='33.5', value='33.5')
							| 33.5 (4)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:34.5', type='checkbox', name='34.5', value='34.5')
							| 34.5 (8)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:35.5', type='checkbox', name='35.5', value='35.5')
							| 35.5 (10)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:36.5', type='checkbox', name='36.5', value='36.5')
							| 36.5 (60)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:37.5', type='checkbox', name='37.5', value='37.5')
							| 37.5 (79)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:38.5', type='checkbox', name='38.5', value='38.5')
							| 38.5 (55)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:39.5', type='checkbox', name='39.5', value='39.5')
							| 39.5 (57)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:40.5', type='checkbox', name='40.5', value='40.5')
							| 40.5 (163)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:41.5', type='checkbox', name='41.5', value='41.5')
							| 41.5 (82)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:42.5', type='checkbox', name='42.5', value='42.5')
							| 42.5 (199)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:43.5', type='checkbox', name='43.5', value='43.5')
							| 43.5 (38)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:44.5', type='checkbox', name='44.5', value='44.5')
							| 44.5 (77)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:45.5', type='checkbox', name='45.5', value='45.5')
							| 45.5 (8)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:46.5', type='checkbox', name='46.5', value='46.5')
							| 46.5 (16)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:47.5', type='checkbox', name='47.5', value='47.5')
							| 47.5 (3)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:23.5', type='checkbox', name='23.5', value='23.5')
							| 23.5 (1)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:27.5', type='checkbox', name='27.5', value='27.5')
							| 27.5 (1)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:28.5', type='checkbox', name='28.5', value='28.5')
							| 28.5 (3)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:46', type='checkbox', name='46', value='46')
							| 46 (37)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:S(28-32)', type='checkbox', name='S(28-32)', value='S(28-32)')
							| S(28-32) (3)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:M(33-36.5)', type='checkbox', name='M(33-36.5)', value='M(33-36.5)')
							| M(33-36.5) (5)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:L(36.5-40.5)', type='checkbox', name='L(36.5-40.5)', value='L(36.5-40.5)')
							| L(36.5-40.5) (5)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:12.5+UK+-+13+USA+-+48+EUR', type='checkbox', name='12.5+UK+-+13+USA+-+48+EUR', value='12.5 UK - 13 USA - 48 EUR')
							| 12.5 UK - 13 USA - 48 EUR (5)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:17', type='checkbox', name='17', value='17')
							| 17 (4)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:19', type='checkbox', name='19', value='19')
							| 19 (12)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:20', type='checkbox', name='20', value='20')
							| 20 (12)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:22', type='checkbox', name='22', value='22')
							| 22 (22)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:23', type='checkbox', name='23', value='23')
							| 23 (34)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:21', type='checkbox', name='21', value='21')
							| 21 (11)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:18', type='checkbox', name='18', value='18')
							| 18 (3)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:S%3a+31+al+34', type='checkbox', name='S%3a+31+al+34', value='S: 31 al 34')
							| S: 31 al 34 (2)
						label.brand-name
							input.multi-search-checkbox(rel='fq=specificationFilter_44:M%3a+35+al+38', type='checkbox', name='M%3a+35+al+38', value='M: 35 al 38')
							| M: 35 al 38 (2)
			.search-single-navigator(style='display: block; visibility: visible;')
				h3.moda
					span
					a(href='categoria.html', title='Moda') Moda
				ul.productClusterSearchableIds.even
					li.last
						a(href='categoria.html', title='beautydays') beautydays (22)
				h4.moda.even
					a(href='categoria.html', title='Relojes') Relojes (718)
				ul.relojes.even
				h4.moda.even
					a(href='categoria.html', title='Calzado') Calzado (1482)
				ul.calzado.even
				h4.moda.even
					a(href='javascript:;', title='Ropa') Ropa (484)
				ul.ropa.even
				h4.moda.even
					a(href='javascript:;', title='Accesorios') Accesorios (65)
				ul.accesorios.even
				h4.moda.even
					a(href='javascript:;', title='Billeteras') Billeteras (105)
				ul.billeteras.even
				h4.moda.even
					a(href='javascript:;', title='Joyería') Joyería (181)
				ul.joyeria.even
				h4.moda.even
					a(href='javascript:;', title='Bolsos') Bolsos (141)
				ul.bolsos.even
				h4.moda.even
					a(href='javascript:;', title='Lentes') Lentes (150)
				ul.lentes.even
				h5.Hide.HideMarca Marca
				ul.Marca
					li
						a(href='javascript:;', title='Adidas') Adidas (37)
					li
						a(href='javascript:;', title='Andre Piu') Andre Piu (3)
					li
						a(href='javascript:;', title='Angry Birds') Angry Birds (4)
					li
						a(href='javascript:;', title='Asics') Asics (27)
					li
						a(href='javascript:;', title='Barbie') Barbie (13)
					li
						a(href='javascript:;', title='Bates') Bates (15)
					li
						a(href='javascript:;', title='Bladerunner') Bladerunner (2)
					li
						a(href='javascript:;', title='Boaonda') Boaonda (3)
					li
						a(href='javascript:;', title='Calimod') Calimod (55)
					li
						a(href='javascript:;', title='Cars') Cars (2)
					li
						a(href='javascript:;', title='Caterpillar') Caterpillar (115)
					li
						a(href='javascript:;', title='Cavalier') Cavalier (26)
					li
						a(href='javascript:;', title='Chabely') Chabely (40)
					li
						a(href='javascript:;', title='Chaco') Chaco (11)
					li
						a(href='javascript:;', title='Clifor') Clifor (1)
					li
						a(href='javascript:;', title='Converse') Converse (218)
					li
						a(href='javascript:;', title='Corelli') Corelli (3)
					li
						a(href='javascript:;', title='Disney') Disney (3)
					li
						a(href='javascript:;', title='Dunkelvolk') Dunkelvolk (17)
					li
						a(href='javascript:;', title='Eros') Eros (1)
					li
						a(href='javascript:;', title='Faena') Faena (21)
					li
						a(href='javascript:;', title='Fila') Fila (16)
					li
						a(href='javascript:;', title='Frozen') Frozen (2)
					li
						a(href='javascript:;', title='Gardenia') Gardenia (17)
					li
						a(href='javascript:;', title='Globe') Globe (20)
					li
						a(href='javascript:;', title='Grendha') Grendha (3)
					li
						a(href='javascript:;', title='Guga') Guga (6)
					li
						a(href='javascript:;', title='Hardy') Hardy (1)
					li
						a(href='javascript:;', title='Harley Davidson') Harley Davidson (1)
					li
						a(href='javascript:;', title='Havaianas') Havaianas (51)
					li
						a(href='javascript:;', title='Hello Kitty') Hello Kitty (5)
					li
						a(href='javascript:;', title='Hey Dude') Hey Dude (41)
					li
						a(href='javascript:;', title='Hi-Tec') Hi-Tec (31)
					li
						a(href='javascript:;', title='KatyArizaga') KatyArizaga (10)
					li
						a(href='javascript:;', title='Kildare') Kildare (10)
					li
						a(href='javascript:;', title='Lacoste') Lacoste (17)
					li
						a(href='javascript:;', title='Lumberjack') Lumberjack (39)
					li
						a(href='javascript:;', title='Mattel') Mattel (2)
					li
						a(href='javascript:;', title='Merrell') Merrell (44)
					li
						a(href='javascript:;', title='Mickey') Mickey (4)
					li
						a(href='javascript:;', title='Minnie') Minnie (4)
					li
						a(href='javascript:;', title='New Balance') New Balance (2)
					li
						a(href='javascript:;', title='Nike') Nike (40)
					li
						a(href='javascript:;', title='Oka-B') Oka-B (14)
					li
						a(href='javascript:;', title='Onitsuka') Onitsuka (6)
					li
						a(href='javascript:;', title='Ortope') Ortope (11)
					li
						a(href='javascript:;', title='Osiris') Osiris (2)
					li
						a(href='javascript:;', title='Passarela') Passarela (95)
					li
						a(href='javascript:;', title='Pierre Cardin') Pierre Cardin (2)
					li
						a(href='javascript:;', title='Powerslide') Powerslide (7)
					li
						a(href='javascript:;', title='Puma') Puma (30)
					li
						a(href='javascript:;', title='PZ') PZ (43)
					li
						a(href='javascript:;', title='Reebok') Reebok (9)
					li
						a(href='javascript:;', title='Rider') Rider (11)
					li
						a(href='javascript:;', title='Rollerblade') Rollerblade (11)
					li
						a(href='javascript:;', title='Salomon') Salomon (27)
					li
						a(href='javascript:;', title='Saucony') Saucony (24)
					li
						a(href='javascript:;', title='Spider Man') Spider Man (2)
					li
						a(href='javascript:;', title='Steve Madden') Steve Madden (65)
					li
						a(href='javascript:;', title='Strata') Strata (8)
					li
						a(href='javascript:;', title='Style Up') Style Up (11)
					li
						a(href='javascript:;', title='Tempish') Tempish (3)
					li
						a(href='javascript:;', title='Umbro') Umbro (88)
					li
						a(href='javascript:;', title='Vans') Vans (14)
					li
						a(href='javascript:;', title='Wolverine') Wolverine (12)
					li.last
						a(href='javascript:;', title='Zaxy') Zaxy (4)
				h5.Hide.HideGenero Género
				ul(class='Género')
					li
						a(href='javascript:;', title='Hombre') Hombre (741)
					li
						a(href='javascript:;', title='Mujer') Mujer (593)
					li
						a(href='javascript:;', title='Niño') Niño (144)
					li
						a(href='javascript:;', title='Niña') Niña (136)
					li.last
						a(href='javascript:;', title='Unisex') Unisex (21)
				h5.Hide.even.HideEstilo Estilo
				ul.Estilo.even
					li
						a(href='javascript:;', title='Casual') Casual (819)
					li
						a(href='javascript:;', title='Deportivo') Deportivo (362)
					li
						a(href='javascript:;', title='Formal') Formal (138)
					li
						a(href='javascript:;', title='Urbano') Urbano (265)
					li.last
						a(href='javascript:;', title='Industrial') Industrial (36)
				h5.Hide.HideTalla-calzado Talla calzado
				ul.Talla.calzado
					li
						a(href='javascript:;', title='28') 28 (64)
					li
						a(href='javascript:;', title='29') 29 (59)
					li
						a(href='javascript:;', title='30') 30 (63)
					li
						a(href='javascript:;', title='30.5') 30.5 (1)
					li
						a(href='javascript:;', title='31') 31 (49)
					li
						a(href='javascript:;', title='31.5') 31.5 (7)
					li
						a(href='javascript:;', title='32') 32 (48)
					li
						a(href='javascript:;', title='33') 33 (28)
					li
						a(href='javascript:;', title='34') 34 (53)
					li
						a(href='javascript:;', title='35') 35 (235)
					li
						a(href='javascript:;', title='35.5') 35.5 (10)
					li
						a(href='javascript:;', title='36') 36 (323)
					li
						a(href='javascript:;', title='36.5') 36.5 (60)
					li
						a(href='javascript:;', title='37') 37 (325)
					li
						a(href='javascript:;', title='37.5') 37.5 (79)
					li
						a(href='javascript:;', title='38') 38 (437)
					li
						a(href='javascript:;', title='38.5') 38.5 (55)
					li
						a(href='javascript:;', title='39') 39 (440)
					li
						a(href='javascript:;', title='40') 40 (387)
					li
						a(href='javascript:;', title='41') 41 (344)
					li
						a(href='javascript:;', title='41.5') 41.5 (82)
					li
						a(href='javascript:;', title='42') 42 (357)
					li
						a(href='javascript:;', title='43') 43 (312)
					li
						a(href='javascript:;', title='44') 44 (270)
					li
						a(href='javascript:;', title='45') 45 (102)
					li
						a(href='javascript:;', title='39.5') 39.5 (57)
					li
						a(href='javascript:;', title='40.5') 40.5 (163)
					li
						a(href='javascript:;', title='42.5') 42.5 (199)
					li
						a(href='javascript:;', title='44.5') 44.5 (77)
					li
						a(href='javascript:;', title='43.5') 43.5 (38)
					li
						a(href='javascript:;', title='45.5') 45.5 (8)
					li
						a(href='javascript:;', title='20') 20 (12)
					li
						a(href='javascript:;', title='21') 21 (11)
					li
						a(href='javascript:;', title='22') 22 (22)
					li
						a(href='javascript:;', title='23') 23 (34)
					li
						a(href='javascript:;', title='24') 24 (32)
					li
						a(href='javascript:;', title='25') 25 (43)
					li
						a(href='javascript:;', title='26') 26 (57)
					li
						a(href='javascript:;', title='27') 27 (71)
					li
						a(href='javascript:;', title='33.5') 33.5 (4)
					li
						a(href='javascript:;', title='34.5') 34.5 (8)
					li
						a(href='javascript:;', title='35.5') 35.5 (10)
					li
						a(href='javascript:;', title='36.5') 36.5 (60)
					li
						a(href='javascript:;', title='37.5') 37.5 (79)
					li
						a(href='javascript:;', title='38.5') 38.5 (55)
					li
						a(href='javascript:;', title='39.5') 39.5 (57)
					li
						a(href='javascript:;', title='40.5') 40.5 (163)
					li.last
						a(href='javascript:;', title='M: 35 al 38') M: 35 al 38 (2)

