head
	meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	//-link(href="http://fonts.googleapis.com/css?family=Lato:300,400,700", rel="stylesheet", type="text/css")

	link(rel='stylesheet', href='//io.vtex.com.br/front-libs/bootstrap/2.3.2/css/bootstrap.min.css')
	link(rel='stylesheet', href='//io.vtex.com.br/front-libs/bootstrap/2.3.2/css/bootstrap-responsive.min.css')
	link(rel='stylesheet', href='//io.vtex.com.br/front-libs/font-awesome/3.2.1/css/font-awesome.min.css')
	link(rel='stylesheet', href='//io.vtex.com.br/checkout-ui/3.54.1/lib/front-messages-ui/vtex-message.min.css')

	link(rel='stylesheet', href='//io.vtex.com.br/checkout-ui/3.54.1/style/style.css')
	link(href='#{page.static_url}/layout_checkout.css', media='all', rel='stylesheet', type='text/css')

	