// Input text
//
// Input type: text, password, email para Ofertop
//
// Markup:
// <input type="text" class="e-input-text">
// <input type="email" class="e-input-text">
// <input type="password" class="e-input-text">
//
// --disabled  - Make the input change appearance to reflect it being disabled.
//
// Style guide: ofertop.elements.inputs
.e-input-text
	font-family $font_family_primary
	font-size 14px
	outline none
	display inline-block
	width 100%
	padding 8px 10px
	border-radius $border_radius
	border 1px solid $gray
	height 37px
