extends _layout/layout.jade

block content
  .Rediseno-Terminos-Condiciones
    .ajax-content-loader(rel='/no-cache/callcenter/disclaimer')
    .container
      .boxTp
        .breadCrumb
          ul
            li
              a(href='http://company.com/') Company
            li.last
              a(href='http://company.com/')  Condiciones de uso 
        .breadCrumb
          .bread-crumb(xmlns:v='http://rdf.data-vocabulary.org/#')
            ul
              li(typeof='v:Breadcrumb')
                a(href='http://www.company.com/', rel='v:url', property='v:title') company
        .wallpEvent
          p POLÍTICA DE PRIVACIDAD PROTECCIÓN DE DATOS PERSONALES
          .page
            h3 TÉRMINOS Y CONDICIONES GENERALES DE USO
            p
              | Antes de acceder a los servicios ofrecidos por la empresa DIGITAL COMMERCE S.A.C. (en adelante “LA EMPRESA”) a través de su sitio web company (en adelante “EL SITIO WEB”) bajo el dominio www.company.com, le pedimos que lea detenidamente los términos y condiciones generales que se detallan a continuación. Así mismo, cada vez que utilice cualquier servicio presente o futuro de LA EMPRESA, estará sujeto a los términos y condiciones de uso particulares aplicables a dichos servicios. Dichas condiciones particulares prevalecerán sobre las condiciones generales en caso haya una contradicción entre ambas.
            h3 1. REGISTRO
            p
              | El acceso a realizar compras online a través de EL SITIO WEB requiere que usted se registre previamente como “SOCIO”, una vez usted acepte los Términos y Condiciones Generales de Uso. A partir de dicho registro, usted pasará a ser considerado SOCIO de nuestro “Club Privado de Compras Online”. LA EMPRESA no se hace responsable por la certeza de los datos proporcionados por el SOCIO de EL SITIO WEB.
            p
              | LA EMPRESA se reserva el derecho de solicitar algún documento y/o dato adicional a efectos de corroborar los datos personales y de envío, así como de suspender temporal o definitivamente a aquel SOCIO cuyos datos no hayan podido ser confirmados.
            p
              | La información personal que el SOCIO le proporcione a EL SITIO WEB, estará asegurada por una clave de acceso, de la cual solo el SOCIO tendrá conocimiento. El SOCIO es el único responsable de mantener en secreto dicha clave. El SOCIO se compromete a notificar a LA EMPRESA en forma inmediata, cualquier uso no autorizado de su cuenta.
            p
              | La Cuenta es personal, única e intransferible, y está prohibido que un mismo SOCIO registre o posea más de una cuenta. En caso que LA EMPRESA detecte distintas cuentas que contengan datos coincidentes o relacionados, esta podrá cancelar, suspender o inhabilitarlas.
            p
              | EL SITIO WEB se reserva el derecho de rechazar cualquier solicitud de registro o de cancelar un registro previamente aceptado, en cualquier momento y por cualquier razón, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.
            h3 2. CAPACIDAD
            p
              | El registro y uso de EL SITIO WEB implica que el SOCIO sea una persona natural o jurídica con capacidad legal para contratar. No podrán adquirir las promociones las personas que no tengan esa capacidad, menores de edad o imposibilitados temporalmente o inhabilitados en forma definitiva.
            h3 3. MODIFICACIÓN EN LOS TÉRMINOS Y CONDICIONES DE USO
            p
              | LA EMPRESA podrá modificar, adicionar, eliminar y/o actualizar los Términos y Condiciones de Uso en cualquier momento, por cualquier razón y/o sin previo aviso, los cuales seguirán siendo de obligatorio cumplimiento desde el momento de su publicación en EL SITIO WEB. El SOCIO puede consultar los presentes Términos y Condiciones de Uso en cualquier momento.
            h3 4. LOS EVENTOS
            p
              | LA EMPRESA, a través de EL SITIO WEB, ofrecerá a la venta los productos vendidos o prestados por intermedio de los PROVEEDORES, según las condiciones y procedimientos que se expresan a continuación:
            p
              | (A) Durante el o los días que el Evento se encuentre publicado en EL SITIO WEB, el SOCIO podrá efectuar compras online, garantizando el pago de estas a través de los métodos de pago que LA EMPRESA defina expresamente en EL SITIO WEB.
            p
              | (B) Cada Evento incluirá sus detalles y condiciones específicas de los productos promocionados, así como también la forma del descuento y de los bienes y servicios objeto del mismo.
            p
              | (C) Las descripciones de los productos se realizan en base a la información proporcionada por los PROVEEDORES de LA EMPRESA. Las fotografías, imágenes y videos de los productos, entre otros, son únicamente ilustrativos. EL SITIO WEB proporcionará dichas descripciones en el espacio asignado junto a la fotografía de cada producto, así como podrá también detallar alguna condición particular del mismo.
            p
              | (D) Los Eventos tendrán una duración determinada, es decir, sólo se ofrecerán los productos que en ese momento se encuentren exhibiéndose en EL SITIO WEB. Una vez culminado cada Evento, este saldrá del aire y no se podrán adquirir dichos productos.
            p
              | (E) Una vez que EL SITIO WEB señale que la venta ha sido exitosa para el SOCIO, éste no podrá ejercer ningún tipo de reclamo ni solicitud de anulación ni devolución por la compra realizada.
            h3 5. ENTREGAS
            p
              | La fecha estimada de entrega será dependiendo de la Marca y/o Evento en la que el SOCIO haya realizado su compra a través de EL SITIO WEB. La mayoría de nuestros eventos duran entre 5 y 10 días publicados en EL SITIO WEB.
            p
              | Nuestro tiempo estimado de entrega es de 7 a 10 días útiles, sin embargo, al trabajar el recojo de los productos vendidos bajo la modalidad de Cross-docking (recogemos de los almacenes de los PROVEEDORES por cada compra efectuada), es posible que en algunos casos, tardemos hasta 15 días útiles dependiendo de la dirección de destino del pedido. En estos casos se le informará al SOCIO a través de su cuenta de correo electrónico. Lo mismo si es el caso cuando EL SITIO WEB organice Eventos de productos importados, estos se entregarán entre 15 y 20 días útiles.
            p
              | Los productos que ya están disponibles en stock en el momento de realizar la compra pueden tener un plazo de entrega más corto. Esto significa que el producto está disponible en los almacenes de los PROVEEDORES. En este sentido, es posible que si el SOCIO efectuara una compra de productos de distintas marcas, estos pueden llegar a entregarse en fechas distintas.
            p
              | Si tienes consultas adicionales sobre los tiempos de entrega envíanos un correo a:contacto@company.com
            h3 6. RESPONSABILIDAD
            p
              | En ningún caso LA EMPRESA responderá por: i) la utilización indebida que visitantes de EL SITIO WEB puedan hacer de los materiales exhibidos, de los derechos de propiedad industrial y de los derechos de propiedad intelectual. ii) de los contenidos de las páginas a las que el SOCIO o usuario puedan acceder con o sin autorización de EL SITIO WEB. iii) del acceso de menores de edad o personas sin capacidad, bajo los términos de la legislación correspondiente, a los contenidos adherentes a la relación contractual que surja de EL SITIO WEB.
            p
              | Así mismo, el SOCIO y los PROVEEDORES reconocen y dejan constancia que EL SITIO WEB no es infalible, por lo tanto, en cualquier momento y sin previo aviso pueden verificarse circunstancias ajenas a la voluntad de EL SITIO WEB, que impliquen que este no se encuentre operativo durante un determinado periodo de tiempo. En estos casos, LA EMPRESA procurará restablecer EL SITIO WEB con la mayor celeridad posible, sin que por ello pueda imputársele algún tipo de responsabilidad.
            p
              | Bajo ningún motivo LA EMPRESA publicará a través de EL SITIO WEB algún producto con un precio de venta o de valor cero (S/. 0), al menos que este sea promocionado como un premio que se dan a través de concursos y/o sorteos organizados por EL SITIO WEB periódicamente. Si se diese el caso de existir dicho error, LA EMPRESA se reserva el derecho de entregar dicho producto, informándole al SOCIO lo ocurrido.
            p
              | Dado que LA EMPRESA publica miles de productos para la venta a través de EL SITIO WEB, existe la posibilidad que se publiquen algunos errores en el contenido de cada uno de los productos. Por ese motivo, LA EMPRESA actúa con base a un mecanismo de "aviso y cambio o retirada". Si usted considera que alguno de los contenidos de EL SITIO WEB, o contenido publicitado en el mismo resulta de algún modo difamatorio o no creíble, le rogamos que nos lo comunique inmediatamente. Una vez notificados, LA EMPRESA iniciará las acciones pertinentes para eliminar el contenido difamatorio objeto de la reclamación en un plazo razonable. Todos los productos se encuentran sujetos a disponibilidad de stock.
            p
              | LA EMPRESA no se hace responsable por los virus ni otros elementos en el contendido de EL SITIO WEB que puedan producir alteraciones en el sistema informático del SOCIO o usuario, o en los documentos electrónicos almacenados en los sistemas informáticos de ellos.
            p
              | LA EMPRESA no responderá de los perjuicios ocasionados al SOCIO provenientes del uso inadecuado de las tecnologías puestas a disposición de éste, cualquiera sea la forma en la cual se utilicen inadecuadamente estas mismas.
            p
              | LA EMPRESA no responderá por los daños producidos a EL SITIO WEB por el uso indebido y de mala fe del SOCIO o usuario.
            p
              | En todo caso, la responsabilidad de LA EMPRESA, contractual, extracontractual o legal con el SOCIO de EL SITIO WEB no excederá del precio efectivamente pagado por el comprador.
            h3 7. PROPIEDAD INTELECTUAL
            p
              | Se deja expresa constancia que la propiedad intelectual, comercial e industrial del contenido, diseños, gráficas y sistemas (hardware y software), sobre los que versa este contrato son de exclusiva propiedad de LA EMPRESA.
            p
              | Asimismo, queda totalmente prohibida la copia, reproducción, adaptación, modificación, distribución, comercialización, comunicación pública y/o cualquier otra acción que comporte una infracción de la normativa vigente en Perú y/o internacionalmente en materia de propiedad intelectual y/o industrial, así como el uso de los contenidos de EL SITIO WEB si no es con la previa autorización expresa y por escrito de LA EMPRESA.
            h3 8. DATOS PERSONALES
            p
              | Los datos que suministren a EL SITIO WEB formarán parte de la base de datos de LA EMPRESA y serán destinados para los fines de esta, tales como: responder sus consultas, contacto, etc.
            h3 9. RESPONSABILIDAD DEL SOCIO
            p
              | El SOCIO es responsable por la información que registren en EL SITIO WEB. Por lo anterior, el SOCIO es el único responsable ante LA EMPRESA y terceros de las consecuencias que puedan derivar de una utilización con fines o efectos ilícitos o contrarios a los presentes Términos y Condiciones de Uso.
            h3 10. LEGISLACIÓN APLICABLE
            p
              | Cualquier controversia o conflicto derivado de la utilización de EL SITIO WEB, de los presentes Términos y Condiciones de Uso, su existencia, validez, interpretación, alcance o cumplimiento, será sometida a las leyes aplicables de la República del Perú, delegando competencia en los Tribunales y Juzgados de la ciudad de Lima.
    // end container
    .container
      .mobile_layout
        .links
          // <a href="javascript:;">¿Qué es Company?</a>
          a.lnk_how_to_buy(href='#como-comprar') ¿Cómo comprar? 
    .modal_how_to_buy.remodal(data-remodal-id='como-comprar')
      button.remodal-close(data-remodal-action='close')
      h3 ¿CÓMO COMPRAR EN COMPANY? 
      .steps
        span.number 1
        img(src='//company.vteximg.com.br/arquivos/step1.jpg')
        p
          b Elige el producto 
          | Puedes buscar tu producto por categorías, colecciones, o utilizando el buscador.
      .steps
        span.number 2
        img(src='//company.vteximg.com.br/arquivos/step2.jpg')
        p
          b Agrega al carrito 
          | Agregar al carrito clickeando en el botón "Comprar" y sigue los pasos.
      .steps
        span.number 3
        img(src='//company.vteximg.com.br/arquivos/step3.jpg')
        p
          b Compra
          | Completa los datos requeridos, medio de pago y forma de envío, y ¡Listo!
