/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_left_big_name = 'arrow_left_big';
$arrow_left_big_x = 0px;
$arrow_left_big_y = 123px;
$arrow_left_big_offset_x = 0px;
$arrow_left_big_offset_y = -123px;
$arrow_left_big_width = 40px;
$arrow_left_big_height = 40px;
$arrow_left_big_total_width = 280px;
$arrow_left_big_total_height = 229px;
$arrow_left_big_image = 'sprite_2.png';
$arrow_left_big = 0px 123px 0px -123px 40px 40px 280px 229px 'sprite_2.png' 'arrow_left_big';
$arrow_right_big_name = 'arrow_right_big';
$arrow_right_big_x = 42px;
$arrow_right_big_y = 123px;
$arrow_right_big_offset_x = -42px;
$arrow_right_big_offset_y = -123px;
$arrow_right_big_width = 40px;
$arrow_right_big_height = 40px;
$arrow_right_big_total_width = 280px;
$arrow_right_big_total_height = 229px;
$arrow_right_big_image = 'sprite_2.png';
$arrow_right_big = 42px 123px -42px -123px 40px 40px 280px 229px 'sprite_2.png' 'arrow_right_big';
$ico_arrow_name = 'ico_arrow';
$ico_arrow_x = 265px;
$ico_arrow_y = 50px;
$ico_arrow_offset_x = -265px;
$ico_arrow_offset_y = -50px;
$ico_arrow_width = 8px;
$ico_arrow_height = 16px;
$ico_arrow_total_width = 280px;
$ico_arrow_total_height = 229px;
$ico_arrow_image = 'sprite_2.png';
$ico_arrow = 265px 50px -265px -50px 8px 16px 280px 229px 'sprite_2.png' 'ico_arrow';
$ico_arrow2_name = 'ico_arrow2';
$ico_arrow2_x = 254px;
$ico_arrow2_y = 123px;
$ico_arrow2_offset_x = -254px;
$ico_arrow2_offset_y = -123px;
$ico_arrow2_width = 16px;
$ico_arrow2_height = 8px;
$ico_arrow2_total_width = 280px;
$ico_arrow2_total_height = 229px;
$ico_arrow2_image = 'sprite_2.png';
$ico_arrow2 = 254px 123px -254px -123px 16px 8px 280px 229px 'sprite_2.png' 'ico_arrow2';
$ico_arrow_down_name = 'ico_arrow_down';
$ico_arrow_down_x = 84px;
$ico_arrow_down_y = 152px;
$ico_arrow_down_offset_x = -84px;
$ico_arrow_down_offset_y = -152px;
$ico_arrow_down_width = 14px;
$ico_arrow_down_height = 8px;
$ico_arrow_down_total_width = 280px;
$ico_arrow_down_total_height = 229px;
$ico_arrow_down_image = 'sprite_2.png';
$ico_arrow_down = 84px 152px -84px -152px 14px 8px 280px 229px 'sprite_2.png' 'ico_arrow_down';
$ico_calendar_name = 'ico_calendar';
$ico_calendar_x = 237px;
$ico_calendar_y = 50px;
$ico_calendar_offset_x = -237px;
$ico_calendar_offset_y = -50px;
$ico_calendar_width = 26px;
$ico_calendar_height = 24px;
$ico_calendar_total_width = 280px;
$ico_calendar_total_height = 229px;
$ico_calendar_image = 'sprite_2.png';
$ico_calendar = 237px 50px -237px -50px 26px 24px 280px 229px 'sprite_2.png' 'ico_calendar';
$ico_cart_name = 'ico_cart';
$ico_cart_x = 0px;
$ico_cart_y = 165px;
$ico_cart_offset_x = 0px;
$ico_cart_offset_y = -165px;
$ico_cart_width = 32px;
$ico_cart_height = 32px;
$ico_cart_total_width = 280px;
$ico_cart_total_height = 229px;
$ico_cart_image = 'sprite_2.png';
$ico_cart = 0px 165px 0px -165px 32px 32px 280px 229px 'sprite_2.png' 'ico_cart';
$ico_close_menu_name = 'ico_close_menu';
$ico_close_menu_x = 72px;
$ico_close_menu_y = 165px;
$ico_close_menu_offset_x = -72px;
$ico_close_menu_offset_y = -165px;
$ico_close_menu_width = 29px;
$ico_close_menu_height = 28px;
$ico_close_menu_total_width = 280px;
$ico_close_menu_total_height = 229px;
$ico_close_menu_image = 'sprite_2.png';
$ico_close_menu = 72px 165px -72px -165px 29px 28px 280px 229px 'sprite_2.png' 'ico_close_menu';
$ico_close_modal_name = 'ico_close_modal';
$ico_close_modal_x = 260px;
$ico_close_modal_y = 101px;
$ico_close_modal_offset_x = -260px;
$ico_close_modal_offset_y = -101px;
$ico_close_modal_width = 20px;
$ico_close_modal_height = 20px;
$ico_close_modal_total_width = 280px;
$ico_close_modal_total_height = 229px;
$ico_close_modal_image = 'sprite_2.png';
$ico_close_modal = 260px 101px -260px -101px 20px 20px 280px 229px 'sprite_2.png' 'ico_close_modal';
$ico_delete_name = 'ico_delete';
$ico_delete_x = 215px;
$ico_delete_y = 123px;
$ico_delete_offset_x = -215px;
$ico_delete_offset_y = -123px;
$ico_delete_width = 18px;
$ico_delete_height = 19px;
$ico_delete_total_width = 280px;
$ico_delete_total_height = 229px;
$ico_delete_image = 'sprite_2.png';
$ico_delete = 215px 123px -215px -123px 18px 19px 280px 229px 'sprite_2.png' 'ico_delete';
$ico_fb_name = 'ico_fb';
$ico_fb_x = 216px;
$ico_fb_y = 79px;
$ico_fb_offset_x = -216px;
$ico_fb_offset_y = -79px;
$ico_fb_width = 42px;
$ico_fb_height = 42px;
$ico_fb_total_width = 280px;
$ico_fb_total_height = 229px;
$ico_fb_image = 'sprite_2.png';
$ico_fb = 216px 79px -216px -79px 42px 42px 280px 229px 'sprite_2.png' 'ico_fb';
$ico_instagram_name = 'ico_instagram';
$ico_instagram_x = 172px;
$ico_instagram_y = 79px;
$ico_instagram_offset_x = -172px;
$ico_instagram_offset_y = -79px;
$ico_instagram_width = 42px;
$ico_instagram_height = 42px;
$ico_instagram_total_width = 280px;
$ico_instagram_total_height = 229px;
$ico_instagram_image = 'sprite_2.png';
$ico_instagram = 172px 79px -172px -79px 42px 42px 280px 229px 'sprite_2.png' 'ico_instagram';
$ico_menu_name = 'ico_menu';
$ico_menu_x = 34px;
$ico_menu_y = 165px;
$ico_menu_offset_x = -34px;
$ico_menu_offset_y = -165px;
$ico_menu_width = 36px;
$ico_menu_height = 28px;
$ico_menu_total_width = 280px;
$ico_menu_total_height = 229px;
$ico_menu_image = 'sprite_2.png';
$ico_menu = 34px 165px -34px -165px 36px 28px 280px 229px 'sprite_2.png' 'ico_menu';
$ico_minus_name = 'ico_minus';
$ico_minus_x = 260px;
$ico_minus_y = 79px;
$ico_minus_offset_x = -260px;
$ico_minus_offset_y = -79px;
$ico_minus_width = 20px;
$ico_minus_height = 20px;
$ico_minus_total_width = 280px;
$ico_minus_total_height = 229px;
$ico_minus_image = 'sprite_2.png';
$ico_minus = 260px 79px -260px -79px 20px 20px 280px 229px 'sprite_2.png' 'ico_minus';
$ico_plus_name = 'ico_plus';
$ico_plus_x = 103px;
$ico_plus_y = 165px;
$ico_plus_offset_x = -103px;
$ico_plus_offset_y = -165px;
$ico_plus_width = 20px;
$ico_plus_height = 20px;
$ico_plus_total_width = 280px;
$ico_plus_total_height = 229px;
$ico_plus_image = 'sprite_2.png';
$ico_plus = 103px 165px -103px -165px 20px 20px 280px 229px 'sprite_2.png' 'ico_plus';
$ico_search_name = 'ico_search';
$ico_search_x = 95px;
$ico_search_y = 199px;
$ico_search_offset_x = -95px;
$ico_search_offset_y = -199px;
$ico_search_width = 29px;
$ico_search_height = 29px;
$ico_search_total_width = 280px;
$ico_search_total_height = 229px;
$ico_search_image = 'sprite_2.png';
$ico_search = 95px 199px -95px -199px 29px 29px 280px 229px 'sprite_2.png' 'ico_search';
$ico_twitter_name = 'ico_twitter';
$ico_twitter_x = 128px;
$ico_twitter_y = 79px;
$ico_twitter_offset_x = -128px;
$ico_twitter_offset_y = -79px;
$ico_twitter_width = 42px;
$ico_twitter_height = 42px;
$ico_twitter_total_width = 280px;
$ico_twitter_total_height = 229px;
$ico_twitter_image = 'sprite_2.png';
$ico_twitter = 128px 79px -128px -79px 42px 42px 280px 229px 'sprite_2.png' 'ico_twitter';
$ico_white_triangle_down_name = 'ico_white_triangle_down';
$ico_white_triangle_down_x = 235px;
$ico_white_triangle_down_y = 135px;
$ico_white_triangle_down_offset_x = -235px;
$ico_white_triangle_down_offset_y = -135px;
$ico_white_triangle_down_width = 15px;
$ico_white_triangle_down_height = 7px;
$ico_white_triangle_down_total_width = 280px;
$ico_white_triangle_down_total_height = 229px;
$ico_white_triangle_down_image = 'sprite_2.png';
$ico_white_triangle_down = 235px 135px -235px -135px 15px 7px 280px 229px 'sprite_2.png' 'ico_white_triangle_down';
$libro_reclamaciones_name = 'libro_reclamaciones';
$libro_reclamaciones_x = 0px;
$libro_reclamaciones_y = 0px;
$libro_reclamaciones_offset_x = 0px;
$libro_reclamaciones_offset_y = 0px;
$libro_reclamaciones_width = 280px;
$libro_reclamaciones_height = 48px;
$libro_reclamaciones_total_width = 280px;
$libro_reclamaciones_total_height = 229px;
$libro_reclamaciones_image = 'sprite_2.png';
$libro_reclamaciones = 0px 0px 0px 0px 280px 48px 280px 229px 'sprite_2.png' 'libro_reclamaciones';
$payment_dc_name = 'payment_dc';
$payment_dc_x = 0px;
$payment_dc_y = 50px;
$payment_dc_offset_x = 0px;
$payment_dc_offset_y = -50px;
$payment_dc_width = 104px;
$payment_dc_height = 27px;
$payment_dc_total_width = 280px;
$payment_dc_total_height = 229px;
$payment_dc_image = 'sprite_2.png';
$payment_dc = 0px 50px 0px -50px 104px 27px 280px 229px 'sprite_2.png' 'payment_dc';
$payment_mc_name = 'payment_mc';
$payment_mc_x = 84px;
$payment_mc_y = 123px;
$payment_mc_offset_x = -84px;
$payment_mc_offset_y = -123px;
$payment_mc_width = 52px;
$payment_mc_height = 27px;
$payment_mc_total_width = 280px;
$payment_mc_total_height = 229px;
$payment_mc_image = 'sprite_2.png';
$payment_mc = 84px 123px -84px -123px 52px 27px 280px 229px 'sprite_2.png' 'payment_mc';
$payment_mcsc_name = 'payment_mcsc';
$payment_mcsc_x = 138px;
$payment_mcsc_y = 123px;
$payment_mcsc_offset_x = -138px;
$payment_mcsc_offset_y = -123px;
$payment_mcsc_width = 51px;
$payment_mcsc_height = 27px;
$payment_mcsc_total_width = 280px;
$payment_mcsc_total_height = 229px;
$payment_mcsc_image = 'sprite_2.png';
$payment_mcsc = 138px 123px -138px -123px 51px 27px 280px 229px 'sprite_2.png' 'payment_mcsc';
$payment_pe_name = 'payment_pe';
$payment_pe_x = 106px;
$payment_pe_y = 50px;
$payment_pe_offset_x = -106px;
$payment_pe_offset_y = -50px;
$payment_pe_width = 67px;
$payment_pe_height = 27px;
$payment_pe_total_width = 280px;
$payment_pe_total_height = 229px;
$payment_pe_image = 'sprite_2.png';
$payment_pe = 106px 50px -106px -50px 67px 27px 280px 229px 'sprite_2.png' 'payment_pe';
$payment_visa_name = 'payment_visa';
$payment_visa_x = 175px;
$payment_visa_y = 50px;
$payment_visa_offset_x = -175px;
$payment_visa_offset_y = -50px;
$payment_visa_width = 60px;
$payment_visa_height = 27px;
$payment_visa_total_width = 280px;
$payment_visa_total_height = 229px;
$payment_visa_image = 'sprite_2.png';
$payment_visa = 175px 50px -175px -50px 60px 27px 280px 229px 'sprite_2.png' 'payment_visa';
$seal_dc_name = 'seal_dc';
$seal_dc_x = 68px;
$seal_dc_y = 79px;
$seal_dc_offset_x = -68px;
$seal_dc_offset_y = -79px;
$seal_dc_width = 58px;
$seal_dc_height = 42px;
$seal_dc_total_width = 280px;
$seal_dc_total_height = 229px;
$seal_dc_image = 'sprite_2.png';
$seal_dc = 68px 79px -68px -79px 58px 42px 280px 229px 'sprite_2.png' 'seal_dc';
$seal_vtex_name = 'seal_vtex';
$seal_vtex_x = 0px;
$seal_vtex_y = 79px;
$seal_vtex_offset_x = 0px;
$seal_vtex_offset_y = -79px;
$seal_vtex_width = 66px;
$seal_vtex_height = 42px;
$seal_vtex_total_width = 280px;
$seal_vtex_total_height = 229px;
$seal_vtex_image = 'sprite_2.png';
$seal_vtex = 0px 79px 0px -79px 66px 42px 280px 229px 'sprite_2.png' 'seal_vtex';
$sel_arrow_name = 'sel_arrow';
$sel_arrow_x = 191px;
$sel_arrow_y = 123px;
$sel_arrow_offset_x = -191px;
$sel_arrow_offset_y = -123px;
$sel_arrow_width = 22px;
$sel_arrow_height = 19px;
$sel_arrow_total_width = 280px;
$sel_arrow_total_height = 229px;
$sel_arrow_image = 'sprite_2.png';
$sel_arrow = 191px 123px -191px -123px 22px 19px 280px 229px 'sprite_2.png' 'sel_arrow';
$slider_arrow_left_name = 'slider_arrow_left';
$slider_arrow_left_x = 64px;
$slider_arrow_left_y = 199px;
$slider_arrow_left_offset_x = -64px;
$slider_arrow_left_offset_y = -199px;
$slider_arrow_left_width = 29px;
$slider_arrow_left_height = 29px;
$slider_arrow_left_total_width = 280px;
$slider_arrow_left_total_height = 229px;
$slider_arrow_left_image = 'sprite_2.png';
$slider_arrow_left = 64px 199px -64px -199px 29px 29px 280px 229px 'sprite_2.png' 'slider_arrow_left';
$slider_arrow_left_transparent_name = 'slider_arrow_left_transparent';
$slider_arrow_left_transparent_x = 0px;
$slider_arrow_left_transparent_y = 199px;
$slider_arrow_left_transparent_offset_x = 0px;
$slider_arrow_left_transparent_offset_y = -199px;
$slider_arrow_left_transparent_width = 30px;
$slider_arrow_left_transparent_height = 30px;
$slider_arrow_left_transparent_total_width = 280px;
$slider_arrow_left_transparent_total_height = 229px;
$slider_arrow_left_transparent_image = 'sprite_2.png';
$slider_arrow_left_transparent = 0px 199px 0px -199px 30px 30px 280px 229px 'sprite_2.png' 'slider_arrow_left_transparent';
$slider_arrow_right_name = 'slider_arrow_right';
$slider_arrow_right_x = 126px;
$slider_arrow_right_y = 199px;
$slider_arrow_right_offset_x = -126px;
$slider_arrow_right_offset_y = -199px;
$slider_arrow_right_width = 29px;
$slider_arrow_right_height = 29px;
$slider_arrow_right_total_width = 280px;
$slider_arrow_right_total_height = 229px;
$slider_arrow_right_image = 'sprite_2.png';
$slider_arrow_right = 126px 199px -126px -199px 29px 29px 280px 229px 'sprite_2.png' 'slider_arrow_right';
$slider_arrow_right_transparent_name = 'slider_arrow_right_transparent';
$slider_arrow_right_transparent_x = 32px;
$slider_arrow_right_transparent_y = 199px;
$slider_arrow_right_transparent_offset_x = -32px;
$slider_arrow_right_transparent_offset_y = -199px;
$slider_arrow_right_transparent_width = 30px;
$slider_arrow_right_transparent_height = 30px;
$slider_arrow_right_transparent_total_width = 280px;
$slider_arrow_right_transparent_total_height = 229px;
$slider_arrow_right_transparent_image = 'sprite_2.png';
$slider_arrow_right_transparent = 32px 199px -32px -199px 30px 30px 280px 229px 'sprite_2.png' 'slider_arrow_right_transparent';
$triangle_down_name = 'triangle_down';
$triangle_down_x = 100px;
$triangle_down_y = 152px;
$triangle_down_offset_x = -100px;
$triangle_down_offset_y = -152px;
$triangle_down_width = 14px;
$triangle_down_height = 8px;
$triangle_down_total_width = 280px;
$triangle_down_total_height = 229px;
$triangle_down_image = 'sprite_2.png';
$triangle_down = 100px 152px -100px -152px 14px 8px 280px 229px 'sprite_2.png' 'triangle_down';
$white_triangle_up_name = 'white_triangle_up';
$white_triangle_up_x = 235px;
$white_triangle_up_y = 123px;
$white_triangle_up_offset_x = -235px;
$white_triangle_up_offset_y = -123px;
$white_triangle_up_width = 17px;
$white_triangle_up_height = 10px;
$white_triangle_up_total_width = 280px;
$white_triangle_up_total_height = 229px;
$white_triangle_up_image = 'sprite_2.png';
$white_triangle_up = 235px 123px -235px -123px 17px 10px 280px 229px 'sprite_2.png' 'white_triangle_up';
$spritesheet_width = 280px;
$spritesheet_height = 229px;
$spritesheet_image = 'sprite_2.png';
$spritesheet_sprites = $arrow_left_big $arrow_right_big $ico_arrow $ico_arrow2 $ico_arrow_down $ico_calendar $ico_cart $ico_close_menu $ico_close_modal $ico_delete $ico_fb $ico_instagram $ico_menu $ico_minus $ico_plus $ico_search $ico_twitter $ico_white_triangle_down $libro_reclamaciones $payment_dc $payment_mc $payment_mcsc $payment_pe $payment_visa $seal_dc $seal_vtex $sel_arrow $slider_arrow_left $slider_arrow_left_transparent $slider_arrow_right $slider_arrow_right_transparent $triangle_down $white_triangle_up;
$spritesheet = 280px 229px 'sprite_2.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
