/**
* Config
* @class Config
*/

/* Paths */
$imgPath         = '../img/'
$fontPath        = '../fonts/'

/* Font family variables */
$family1			= 'futura', Arial, sans-serif
$family2			= 'Pacifico', 'Arial', 'sans-serif'

$basefont           = 18px

/* Used for layout debugging: if "true" displays outline in color */
$debug = 0

/* Color variables */
$primaryColor = #EBB92B
$secondaryColor = #F35252//#ca0000
$fontColor = #535353//#372900
$lightGray = #F3F3F3

rupture.mobile-cutoff = 530px
rupture.desktop-cutoff = 880px

/* Layout variables */
$wrapperWidth = 1140px
$transition = 0.2s all ease
$borderRadius = 10px 