*, *:before, *:after
	box-sizing border-box
html 
	font-size $basefont
body
	background-color $lightGray
	color $fontColor
	font-family $family1
a 
	text-decoration none 
	color $fontColor
h1 
	font-size 3rem
h2
	font-size 2rem
h3
	font-size 1.5rem