.icon
	-webkit-font-smoothing antialiased
	display inline-block
	font-family "iconFonts"
	font-size 45px
	font-style normal
	font-variant normal
	font-weight normal
	line-height 0.6
	text-decoration inherit
	text-transform none 
	vertical-align middle
	

.icon-arrow-right-light:before
	content "\E001"

.icon-arrow-right:before
	content "\E002"

.icon-beauty:before
	content "\E003"

.icon-cart:before
	content "\E004"

.icon-close:before
	content "\E005"

.icon-entertainment:before
	content "\E006"

.icon-fb:before
	content "\E007"

.icon-fitness:before
	content "\E008"

.icon-google:before
	content "\E009"

.icon-home:before
	content "\E00A"

.icon-interest:before
	content "\E00B"

.icon-menu:before
	content "\E00C"

.icon-minus-circle:before
	content "\E00D"

.icon-newsletter:before
	content "\E00E"

.icon-phone:before
	content "\E00F"

.icon-plus-circle:before
	content "\E010"

.icon-product:before
	content "\E011"

.icon-restaurants:before
	content "\E012"

.icon-search:before
	content "\E013"

.icon-subscription:before
	content "\E014"

.icon-time:before
	content "\E015"

.icon-travel:before
	content "\E016"

.icon-twitter:before
	content "\E017"

.icon-x-mark-circle:before
	content "\E018"

.icon-x-mark:before
	content "\E019"

.icon-youtube:before
	content "\E01A"
 