/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$app_store_name = 'app_store';
$app_store_x = 0px;
$app_store_y = 0px;
$app_store_offset_x = 0px;
$app_store_offset_y = 0px;
$app_store_width = 126px;
$app_store_height = 42px;
$app_store_total_width = 195px;
$app_store_total_height = 144px;
$app_store_image = '../img/sprite.png';
$app_store = 0px 0px 0px 0px 126px 42px 195px 144px '../img/sprite.png' 'app_store';
$google_play_name = 'google_play';
$google_play_x = 0px;
$google_play_y = 44px;
$google_play_offset_x = 0px;
$google_play_offset_y = -44px;
$google_play_width = 126px;
$google_play_height = 42px;
$google_play_total_width = 195px;
$google_play_total_height = 144px;
$google_play_image = '../img/sprite.png';
$google_play = 0px 44px 0px -44px 126px 42px 195px 144px '../img/sprite.png' 'google_play';
$ico_close_name = 'ico_close';
$ico_close_x = 53px;
$ico_close_y = 117px;
$ico_close_offset_x = -53px;
$ico_close_offset_y = -117px;
$ico_close_width = 16px;
$ico_close_height = 16px;
$ico_close_total_width = 195px;
$ico_close_total_height = 144px;
$ico_close_image = '../img/sprite.png';
$ico_close = 53px 117px -53px -117px 16px 16px 195px 144px '../img/sprite.png' 'ico_close';
$ico_fb_white_name = 'ico_fb_white';
$ico_fb_white_x = 106px;
$ico_fb_white_y = 88px;
$ico_fb_white_offset_x = -106px;
$ico_fb_white_offset_y = -88px;
$ico_fb_white_width = 20px;
$ico_fb_white_height = 20px;
$ico_fb_white_total_width = 195px;
$ico_fb_white_total_height = 144px;
$ico_fb_white_image = '../img/sprite.png';
$ico_fb_white = 106px 88px -106px -88px 20px 20px 195px 144px '../img/sprite.png' 'ico_fb_white';
$payment_amex_name = 'payment_amex';
$payment_amex_x = 128px;
$payment_amex_y = 58px;
$payment_amex_offset_x = -128px;
$payment_amex_offset_y = -58px;
$payment_amex_width = 51px;
$payment_amex_height = 28px;
$payment_amex_total_width = 195px;
$payment_amex_total_height = 144px;
$payment_amex_image = '../img/sprite.png';
$payment_amex = 128px 58px -128px -58px 51px 28px 195px 144px '../img/sprite.png' 'payment_amex';
$payment_dc_name = 'payment_dc';
$payment_dc_x = 0px;
$payment_dc_y = 88px;
$payment_dc_offset_x = 0px;
$payment_dc_offset_y = -88px;
$payment_dc_width = 104px;
$payment_dc_height = 27px;
$payment_dc_total_width = 195px;
$payment_dc_total_height = 144px;
$payment_dc_image = '../img/sprite.png';
$payment_dc = 0px 88px 0px -88px 104px 27px 195px 144px '../img/sprite.png' 'payment_dc';
$payment_mc_name = 'payment_mc';
$payment_mc_x = 128px;
$payment_mc_y = 88px;
$payment_mc_offset_x = -128px;
$payment_mc_offset_y = -88px;
$payment_mc_width = 52px;
$payment_mc_height = 27px;
$payment_mc_total_width = 195px;
$payment_mc_total_height = 144px;
$payment_mc_image = '../img/sprite.png';
$payment_mc = 128px 88px -128px -88px 52px 27px 195px 144px '../img/sprite.png' 'payment_mc';
$payment_mcsc_name = 'payment_mcsc';
$payment_mcsc_x = 0px;
$payment_mcsc_y = 117px;
$payment_mcsc_offset_x = 0px;
$payment_mcsc_offset_y = -117px;
$payment_mcsc_width = 51px;
$payment_mcsc_height = 27px;
$payment_mcsc_total_width = 195px;
$payment_mcsc_total_height = 144px;
$payment_mcsc_image = '../img/sprite.png';
$payment_mcsc = 0px 117px 0px -117px 51px 27px 195px 144px '../img/sprite.png' 'payment_mcsc';
$payment_pe_name = 'payment_pe';
$payment_pe_x = 128px;
$payment_pe_y = 0px;
$payment_pe_offset_x = -128px;
$payment_pe_offset_y = 0px;
$payment_pe_width = 67px;
$payment_pe_height = 27px;
$payment_pe_total_width = 195px;
$payment_pe_total_height = 144px;
$payment_pe_image = '../img/sprite.png';
$payment_pe = 128px 0px -128px 0px 67px 27px 195px 144px '../img/sprite.png' 'payment_pe';
$payment_visa_name = 'payment_visa';
$payment_visa_x = 128px;
$payment_visa_y = 29px;
$payment_visa_offset_x = -128px;
$payment_visa_offset_y = -29px;
$payment_visa_width = 60px;
$payment_visa_height = 27px;
$payment_visa_total_width = 195px;
$payment_visa_total_height = 144px;
$payment_visa_image = '../img/sprite.png';
$payment_visa = 128px 29px -128px -29px 60px 27px 195px 144px '../img/sprite.png' 'payment_visa';
$spritesheet_width = 195px;
$spritesheet_height = 144px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $app_store $google_play $ico_close $ico_fb_white $payment_amex $payment_dc $payment_mc $payment_mcsc $payment_pe $payment_visa;
$spritesheet = 195px 144px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
