/* Colors */
$red = #E10D33
$black= #2D2E2F
$gray= #CECECE
$light_gray = #F7F8F9
$dark_gray = #636466
$fb_color = #3d5a98

$blue = #0084ff
$link_color = $blue

$error_color = #FF0000
$success_color = #43B77A
$warning_color = #FCF8E3

/* color scheme */
$brand_color = $red
$font_color = $black

/**/
$container_width = 1140px
$imgPath       = '../img/'

/**/
$border_radius = 5px

/* fonts */
$font_family_primary =  'Lato', 'arial', 'sans-serif' // lato-regular
rupture.mobile-cutoff = 765px  // default is 400
rupture.desktop-cutoff = 1023px // default is 1050
//rupture.hd-cutoff = 1800px
$font_path  = '../fonts/'
